<div class="container">
    <h1>User Registration</h1>

    <form (ngSubmit)="submit(login)" #login="ngForm">
        <div class="form-group">
            <label for="fistname">First Name</label><br>
            <input #name="ngModel" required minlength="2" maxlength="7" type="text" name="firstname" class="form-control" ngModel>
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <p *ngIf="name.errors?.['required']">FirstName Required</p>
                <p *ngIf="name.errors?.['minlength']">Sorry short name!!</p>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="lastname">Last Name</label><br>
            <input #lastname="ngModel" required minlength="2" maxlength="7" type="text" name="lastname" class="form-control" ngModel>
        
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="email">Email</label><br>
            <input #email="ngModel" required minlength="2" maxlength="7" type="text" name="email" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">Password</label><br>
            <input #password="ngModel" required minlength="2" maxlength="7" type="password" name="firstname" class="form-control"ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>